<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hamsoo Page</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="fontiran.com:license" content="" />
    <meta name="description" content="" />

    <!-- Add paceloader.CSS plugin -->
    <link href="css/paceloader.css" rel="stylesheet" />
    <!-- END  paceloader.CSS plugin -->

    <!-- Add  easy - loading.min.CSS plugin -->
    <link href="css/easy-loading.min.css" rel="stylesheet" />
    <!-- END  easy - loading.min.CSS plugin -->

    <!-- Add slick carousel CSS PLUGIN -->
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/slick-theme.css" />
    <!-- END slick carousel CSS  PLUGIN -->

    <!-- Add Bootstrap CSS  -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- END Bootstrap CSS  -->

    <!-- Add customstyle -->
    <link rel="stylesheet" href="timan.hamsoo.css" />
    <!-- END customstyle -->

    <!-- Add fontawesome -->
    <link rel="stylesheet" href="css/all.css" />
    <!-- END fontawesome -->

    <!-- Add header-on-scroll CSS PLUGIN -->
    <link rel="stylesheet" href="css/header-on-scroll.css" />
    <!-- END header-on-scroll CSS  PLUGIN -->

    <!-- Add  simpleLoadMore.css plugin -->
    <link href="css/jquery.simpleLoadMore.min.css" rel="stylesheet" />
    <!-- END  simpleLoadMore.css plugin -->
</head>

<body>
    <div class="container-fluid m-0 p-0 bgcolor-ea">
        <header id="header-main">
            <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto ">
                <h1 class="logo">
                    <a href="http://timan.ir" target="_blank" class="d-black">
                        <img src="png/timan-logo.png" alt="timan-logo" /></a>
                </h1>

                <div id="menu-icon">
                    <span class="icon-menu-hamburguer"></span>
                </div>

                <nav id="menu-main">
                    <ul class="fontnormal text-white lineHeight-1 fontsize-3">
                        <li class="px-md-4">
                            <a href="#"> <i class="fas fa-home"></i> خانه </a>
                        </li>
                        <li class="d-block d-md-none">
                            <a href="#"> ورود</a>
                        </li>
                        <li class="d-block d-md-none">
                            <a href="#"> ثبت‌نام</a>
                        </li>
                        <li class="pl-md-4">
                            <a href="#">در‌باره ما</a>
                        </li>
                        <li class="pl-md-4">
                            <a href="#">پروفایل شما</a>
                        </li>
                        <li class="pl-md-4">
                            <a href="#">خبر‌نامه</a>
                        </li>
                        <li class="pl-md-0 pb-4">
                            <a href="#">تماس با ما</a>
                        </li>
                        <li class="float-left d-none d-md-block" style="padding-top: 1px;">
                            <a href="#">ثبت‌نام</a>
                        </li>
                        <li class="float-left px-1 d-none d-md-block">/</li>

                        <li class="float-left d-none d-md-block">
                            <a href="#"> <i class="fas fa-user p-0"></i> ورود </a>
                        </li>
                        <li class="float-left p-0 d-none">
                            <a href="#">
                                <img width="50px" height="50px" class="rounded-circle mt-n4" src="opt/adamak1.png" alt="my-image" /></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="row m-0 p-0 bgcolor-or position-absolute bg-menu"></div>
        <section>
            <div class="col-md-8 col-sm-10 col-11 mx-auto px-0 bgcolor-fd rounded-lg boxShadow-1">
                <div class="row no-gutters w-100 fas-awe">
                    <div class="col-md-8">
                        <div class="card py-md-3 h-100 border-0 bg-transparent">
                            <div class="card-body py-5">
                                <h4 class="responsive-font card-title fontbold">
                                    <i class="fas fa-university pl-1 color-or"></i>همسو؛ دومین رویداد پر استقبال استارتاپی ایران
                                </h4>
                                <h5 class="card-text fontbold fontsize-5 mt-4 fontsize-sm1 position-relative mr-4">
                                    <i class="fas fa-star color-or position-absolute" style="top: 0px !important; right: -23px;"></i>ستاره‌های کارآفرینی کشور در جمعی متشکل از ۱۴۰۰ متخصص و فعال استارتاپی
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card py-md-3 h-100 border-0 bg-transparent">
                            <div class="card-body py-md-5 pb-5 fontnormal fontsize-5 fontsize-sm3">
                                <p class="card-text position-relative mr-4">
                                    <i class="fas fa-calendar color-or position-absolute"></i>جمعه ۹ اسفند ۹۸
                                </p>
                                <p class="card-text position-relative mr-4">
                                    <i class="fas fa-clock color-or position-absolute"></i>ساعت ۱۴:۰۰ تا ۱۹:۰۰
                                </p>

                                <p class="card-text position-relative mr-4">
                                    <i class="fas fa-map-marker-alt color-or position-absolute"></i> کرج؛ تالار ۱۴۰۰ نفره نژادفلاح
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto">
                <div class="row my-3 no-gutters">
                    <a class="btn mylink-hover borColor-or mr-auto d-none d-sm-block color-or fontnormal fontsize-6 px-4" href="#" role="button">ثبت‌نام در همسو</a>
                </div>
                <div class="row my-3 no-gutters">
                    <a class="btn mylink-hover borColor-or d-sm-none btn-block color-or fontnormal fontsize-6" href="#" role="button">ثبت‌نام در همسو</a>
                </div>
            </div>
        </section>
        <section>
            <div class="row no-gutters ">
                <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto mt-4 my-sm-4 pb-3 pb-sm-0">
                    <h5 class="w-50  responsive-font1 fontbold  color-or ">مهمان‌های همسو</h5>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto boxShadow-1">
                    <div class="row no-gutters bgcolor-fd px-3 py-lg-1 py-4 rounded-lg">
                        <div class="col-lg-4 py-lg-4 py-2 px-2">
                            <div class="flip-card bg-transparent">
                                <div class="flip-card-inner position-relative w-100 h-100 text-center">
                                    <div class="flip-card-front bgcolor-f6 text-body position-absolute w-100 h-100">
                                        <div class="card w-100 h-100 p-0 m-0 bg-transparent border-0">
                                            <img src="opt/adamak4.png" class="card-img-top rounded-circle mx-auto mt-4 border borColorIm-or borWidth-2" alt="image" style="width: 150px; height: 150px;" />
                                            <div class="card-body pt-3 text-body px-0">
                                                <h5 class="card-title text-center mb-0 fontbold fontsize-5 lineHeight-3">
                                                    سعید محمدی
                                                </h5>
                                                <p class="card-text text-center pt-0  fontnormal fontsize-4">
                                                    بنیانگذار و مدیرعامل دیجی‌کالا
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back position-absolute w-100 h-100 pt-0 text-white bgcolor-or">
                                        <div class="card w-100 h-100 bg-transparent border-0 p-0 m-0">
                                            <div class="card-body fontnormal fontsize-4 p-2 text-justify ">
                                                <p class="card-text">
                                                    حمید و سعید محمدی در اسفند ماه سال ۱۳۵۸ در محله ابوذر تهران و در خانواده‌ای پر جمعیت متولد شده‌اند. مادر خانه دار و پدر به شغل نانوایی در نانوایی خودش مشغول بود. خانواده‌ایی با ۱۱ فرزند و خیلی معمولی از لحاظ درآمدی یا حتی تحصیلات پدر و مادر، ولی سبک زندگی
                                                    متمایز از بافت اجتماعی منطقه سکونتشان، خانواده‌ای تحصیلکرده که پدر و مادر به تحصیل اهمیت بسیاری می‌دادند.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 py-lg-4 py-2 px-2">
                            <div class="flip-card bg-transparent">
                                <div class="flip-card-inner position-relative w-100 h-100 text-center">
                                    <div class="flip-card-front bgcolor-f6 text-body position-absolute w-100 h-100">
                                        <div class="card w-100 h-100 p-0 m-0 bg-transparent border-0">
                                            <img src="png/img-p2.png" class="card-img-top rounded-circle mx-auto mt-4 border borColorIm-or borWidth-2" alt="image" style="width: 150px; height: 150px;" />
                                            <div class="card-body pt-3 text-body px-0">
                                                <h5 class="card-title text-center mb-0 fontbold fontsize-5 lineHeight-3">
                                                    مجید حسینی‌نژاد
                                                </h5>
                                                <p class="card-text text-center pt-0 fontnormal fontsize-4">
                                                    بنیانگذار علی‌بابا
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back position-absolute w-100 h-100 pt-0 text-white bgcolor-or">
                                        <div class="card w-100 h-100 bg-transparent border-0 p-0 m-0">
                                            <div class="card-body fontnormal fontsize-4 p-2 text-justify ">
                                                <p class="card-text">
                                                    مجید حسینی نژاد کسب وکارهای زیادی را امتحان کرده؛ برخی از آن ها هیچ ربطی به هم ندارند. مطب لیزر پوست و مو و زیبایی یا کارگاه تولید نایلون و حتی شرکت مشاوره پتروشیمی و نفت. مجید قصه ما کسب وکارهای زیادی را امتحان کرد؛ اما هیچ کدام از این کارها به قول خودش
                                                    نمی گرفت و به شکست ختم می شد. برخی از آن ها هم نیمه کاره رها می شدند.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 py-lg-4 py-2 px-2">
                            <div class="flip-card bg-transparent">
                                <div class="flip-card-inner position-relative w-100 h-100 text-center">
                                    <div class="flip-card-front bgcolor-f6 text-body position-absolute w-100 h-100">
                                        <div class="card w-100 h-100 p-0 m-0 bg-transparent border-0">
                                            <img src="opt/adamak6.png" class="card-img-top rounded-circle mx-auto mt-4 border borColorIm-or borWidth-2" alt="image" style="width: 150px; height: 150px;" />
                                            <div class="card-body pt-3 text-body px-0">
                                                <h5 class="card-title text-center mb-0 fontbold fontsize-5 lineHeight-3">
                                                    میلاد منشی‌پور
                                                </h5>
                                                <p class=" card-text text-center pt-0 fontnormal fontsize-4">
                                                    بنیانگذار و مدیرعامل تپسی
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back position-absolute w-100 h-100 pt-0 text-white bgcolor-or">
                                        <div class="card w-100 h-100 bg-transparent border-0 p-0 m-0">
                                            <div class="card-body fontnormal fontsize-4 p-2 text-justify ">
                                                <p class="card-text">
                                                    میلاد منشی‌پور، بنیانگذار و مدیرعامل تپسی، یکی از موفق‌ترین استارتاپ‌های ایران، فارغ التحصیل مهندسی مکانیک از دانشگاه تهران و MBA از فرانسه است. او قبل از MBA چند سال در صنعت نفت و گاز فعالیت کرده و پیش از بازگشت به ایران و راه‌اندازی تپسی، به مدت ۱۰
                                                    سال به عنوان مشاور مدیریت در فرانسه مشغول به کار بوده است.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-2">
            <div class="row no-gutters ">
                <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto mt-4 my-sm-4 pb-3 pb-sm-0 ">
                    <h5 class="w-50  responsive-font1 fontbold  color-or ">کارگاه های تخصصی </h5>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto boxShadow-1">
                    <div class="row no-gutters bgcolor-fd px-3 py-lg-1 py-4 rounded-lg">
                        <div class="col-lg-4 py-lg-4 py-2 px-2">
                            <div class="flip-card bg-transparent">
                                <div class="flip-card-inner position-relative w-100 h-100 text-center">
                                    <div class="flip-card-front bgcolor-f6 text-body position-absolute w-100 h-100">
                                        <div class="card w-100 h-100 p-0 m-0 bg-transparent border-0">
                                            <img src="opt/adamak3.png" class="card-img-top rounded-circle mx-auto mt-4 border borColorIm-or borWidth-2" alt="image" style="width: 150px; height: 150px;" />
                                            <div class="card-body pt-3 text-body px-0">
                                                <h5 class="card-title text-center mb-0 fontbold fontsize-5 lineHeight-3">
                                                    مینا جهانی
                                                </h5>
                                                <p class="card-text text-center pt-0 mb-1  fontmedium fontsize-3">
                                                    مدیر دیجیتال مارکتینگ دیوار
                                                </p>
                                                <p class="card-text text-center pt-0 px-1   fontnormal responsive-font2">
                                                    عنوان کارگاه: تجربه‌های دیجیتال مارکتینگ
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back position-absolute w-100 h-100 pt-0 text-white bgcolor-or">
                                        <div class="card w-100 h-100 bg-transparent border-0 p-0 m-0">
                                            <div class="card-body fontnormal fontsize-4 p-2 text-justify ">
                                                <p class="card-text">
                                                    مدیر دیجیتال مارکتینگ دیوار سوپروایزر اسبق دیجیتال مارکتینگ اسنپ مهندسی صنایع از دانشگاه شریف MBA از دانشگاه تهران
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 py-lg-4 py-2 px-2">
                            <div class="flip-card bg-transparent">
                                <div class="flip-card-inner position-relative w-100 h-100 text-center">
                                    <div class="flip-card-front bgcolor-f6 text-body position-absolute w-100 h-100">
                                        <div class="card w-100 h-100 p-0 m-0 bg-transparent border-0">
                                            <img src="opt/adamak5.png" class="card-img-top rounded-circle mx-auto mt-4 border borColorIm-or borWidth-2" alt="image" style="width: 150px; height: 150px;" />
                                            <div class="card-body pt-3 text-body px-0">
                                                <h5 class="card-title text-center mb-0 fontbold fontsize-5 lineHeight-3">
                                                    محمدرضا فرحی
                                                </h5>
                                                <p class="card-text text-center pt-0 mb-1 fontmedium fontsize-3">
                                                    بنیانگذار بیمه بازار
                                                </p>
                                                <p class="card-text text-center pt-0 px-1   fontnormal responsive-font2 ">
                                                    چطور برای جذب سرمایه، ارزش مالی استارتاپ خود را بسنجم؟
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back position-absolute w-100 h-100 pt-0 text-white bgcolor-or">
                                        <div class="card w-100 h-100 bg-transparent border-0 p-0 m-0">
                                            <div class="card-body fontnormal fontsize-4 p-2 text-justify ">
                                                <p class="card-text">
                                                    بنیانگذار و مدیرعامل استارتاپ بیمه بازار مولف کتاب "ارزش‌گذاری استارتاپ‌ها" مشاور ارشد مالی گروه سرمایه‌گذاری رهنما بنیانگذار چرخ آکادمی دانش آموخته رشته صنایع در دانشگاه صنعتی شریف کارشناس ارشد اقتصاد از دانشگاه Toulouse فرانسه کارشناس ارشد فایننس از
                                                    دانشگاه بارسلونای اسپانیا دکترای افتصاد و فایننس از دانشگاه Pompeo Fabra اسپانیا
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 py-lg-4 py-2 px-2">
                            <div class="flip-card bg-transparent">
                                <div class="flip-card-inner position-relative w-100 h-100 text-center">
                                    <div class="flip-card-front bgcolor-f6 text-body position-absolute w-100 h-100">
                                        <div class="card w-100 h-100 p-0 m-0 bg-transparent border-0">
                                            <img src="opt/adamak2.png" class="card-img-top rounded-circle mx-auto mt-4 border borColorIm-or borWidth-2" alt="image" style="width: 150px; height: 150px;" />
                                            <div class="card-body pt-3 text-body px-0">
                                                <h5 class="card-title text-center mb-0 fontbold fontsize-5 lineHeight-3">
                                                    مانی بیگی
                                                </h5>
                                                <p class="card-text text-center pt-0 mb-1 fontmedium fontsize-3">
                                                    سرپرست تیم Data در PR دیجیکالا
                                                </p>
                                                <p class="card-text text-center pt-0 px-1   fontnormal responsive-font2 ">
                                                    چطور از Data Science در تهیه گزارش دیجیکالا بهره بردیم؟
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back position-absolute w-100 h-100 pt-0 text-white bgcolor-or">
                                        <div class="card w-100 h-100 bg-transparent border-0 p-0 m-0">
                                            <div class="card-body fontnormal fontsize-4 p-2 text-justify ">
                                                <p class="card-text">
                                                    سرپرست تیم Data در PR دیجیکالا برنامه‌نویس Rust در شرکت آسام دکترای پزشکی از دانشگاه علوم پزشکی تهران
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-4">
            <div class="row no-gutters">
                <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto mt-4 my-sm-4 pb-3 pb-sm-0 ">
                    <h5 class="w-50  responsive-font1 fontbold  color-or ">برنامه زمانی رویداد </h5>
                </div>

                <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto bgcolor-fd rounded-lg boxShadow-1 ">
                    <div class="row no-gutters ">
                        <div class=" col-2   ">
                            <div class="mt-3 text-white bgcolor-or pro-time ">
                                <p class="fontbold text-center fontsize-4 py-3 px-0"> ساعت ۱۴:۰۰ تا ۱۵:۰۰ </p>
                            </div>
                        </div>
                        <div class="col-10 ">
                            <div class="card px-1 border-0 bg-transparent">
                                <div class="card-body mt-2 pl-3 pr-lg-3 pr-sm-0 ">
                                    <h5 class="card-title pt-1 fontsize-5  fontsize-sm4 fontbold">سه کارگاه تخصصی به صورت همزمان + پذیرایی + شبکه‌سازی و توسعه ارتباطات</h5>
                                    <p class="card-text pt-1 pb-2 text-justify fontlight fontsize-5 color-gr62">ظرفیت‌ کارگاه‌ها محدود بوده و در سالن‌های کوچک‌تر نژاد فلاح برگزار می‌شوند. الویت حضور در کارگاه‌ها با کسانی است که زودتر تشریف بیاورند. کارگاه‌ها تا ۱۴:۴۵ ادامه خواهند داشت. سایر حضار در رویداد می‌توانند ضمن پذیرایی
                                        به شبکه‌سازی پرداخته و در مراحل بعدی ویدئوی کارگاه‌ها را دریافت نمایند. "Hamtalk Place" نیز برای علاقمندان به گفتگوی انگلیسی در بخشی از محوطه اجرا خواهد شد. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto bgcolor-fd rounded-lg mt-4 boxShadow-1">
                    <div class="row no-gutters ">
                        <div class=" col-2   ">
                            <div class="mt-3 text-white bgcolor-or pro-time ">
                                <p class="fontbold text-center fontsize-4 py-3 px-0"> ساعت ۱۵:۱۵ تا ۱۷:۴۵ </p>
                            </div>
                        </div>
                        <div class="col-10 ">
                            <div class="card px-1 border-0 bg-transparent">
                                <div class="card-body mt-2 pl-3 pr-lg-3 pr-sm-0 ">
                                    <h5 class="card-title pt-1 fontsize-5  fontsize-sm4 fontbold">سخنرانی مهمان اول + پنل گفتگو با مهمان دوم + سخنرانی مهمان سوم</h5>
                                    <p class="card-text pt-1 pb-2 text-justify fontlight fontsize-5 color-gr62">برنامه سالن 1400 نفره، بسیار خلاصه و مفید است. سه نفر از برجسته‌ترین کارآفرین‌های استارتاپی تجربیات‌شان را با علاقمندان به اشتراک می‌گذارند. برنامه اول و آخر، یک سخنرانی کاربردی و موثر است و در میانه نیز یک پنل گفتگو
                                        خواهیم داشت. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto bgcolor-fd rounded-lg mt-4 boxShadow-1">
                    <div class="row no-gutters ">
                        <div class=" col-2   ">
                            <div class="mt-3 text-white bgcolor-or pro-time ">
                                <p class="fontbold text-center fontsize-4 py-3 px-0"> ساعت ۱۸:۰۰ تا ۱۹:۰۰ </p>
                            </div>
                        </div>
                        <div class="col-10 ">
                            <div class="card px-1 border-0 bg-transparent">
                                <div class="card-body mt-2 pl-3 pr-lg-3 pr-sm-0 ">
                                    <h5 class="card-title pt-1 fontsize-5  fontsize-sm4 fontbold">پذیرایی + شبکه‌سازی و توسعه ارتباطات</h5>
                                    <p class="card-text pt-1 pb-2 text-justify fontlight fontsize-5 color-gr62"> ساعت پایانی رویداد به شبکه‌سازی و توسعه ارتباطات با مهمان‌ها و سایر شرکت‌کنندگان اختصاص خواهد یافت. در بخشی از محوطه نیز "Hamtalk Place" را خواهیم داشت. در صورت علاقه می‌توانید با حضور در این بخش به زبان انگلیسی با
                                        سایرین گفتگو کنید. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-10 px-0 col-11 mx-auto bgcolor-fd rounded-lg mt-5 boxShadow-1">
                    <div class="row no-gutters ">

                        <div class="mt-n4 text-white bgcolor-or position-absolute place ">
                            <p class="fontbold text-center fontsize-5 text-center  px-0" style="padding-top: .75rem;">محل برگزاری کارگاه</p>
                        </div>

                        <div class="col mt-3">
                            <div class="card  px-3 pb-1 border-0 bg-transparent">
                                <div class="card-body mt-2 py-0 px-1 ">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.0625859541615!2d50.98149471468187!3d35.82294012979567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dbfa4d5b1a38b%3A0xd52136dd912dac65!2sNezhad%20Fallah%20Hall!5e0!3m2!1sen!2s!4v1594894953560!5m2!1sen!2s"
                                        width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                    <h5 class="card-title pt-2 responsive-font3 fontmedium text-center">کرج، بین چهارراه طالقانی و میدان سپاه، تالار شهیدان نژاد فلاح، سالن ۱۴۰۰ نفره</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>

            <div class="row no-gutters bgcolor-fd rounded-lg mt-5 boxShadow-1">
                <div class="col-md-8 col-sm-10 mt-2 mb-5 px-0 col-11 mx-auto ">
                    <div class="row no-gutters row-cols-1 row-cols-sm-2 row-cols-md-4 pt-3 pb-4">
                        <div class="col py-4  text-center"><img width="100px" height="100px" src="png/shahrdari-farhangi1.png" alt="shahrdari-logo"></div>
                        <div class="col py-4  text-center"><img width="100px" height="100px" src="png/hamfekr1.png" alt="hamfekr-logo"></div>
                        <div class="col py-4  text-center"><img width="100px" height="100px" src="png/pars-pack1.png" alt="pars-pack-logo"></div>
                        <div class="col py-4  text-center"><img width="100px" height="100px" src="png/ostandari-alborz-logo1.png" alt="ostandari-logo"></div>
                    </div>
                </div>
            </div>

        </section>

        <section class="fix-btn d-inline-block position-fixed ">
            <div class="fix-btn-link fontnormal fontsize-6 text-center">
                <a class="color-or " href="#">ثبت نام در همسو </a>
            </div>
            <div class="cover-btn position-absolute text-white text-center">
                <div class="front-btn w-100 position-absolute h-100">

                    <img class="mt-1" width="40px" height="40px" src="png/hamfekr1.png" alt="hamfekr-logo">
                </div>
                <div class="middle-btn  w-100 position-absolute"></div>
                <div class="back-btn  w-100 position-absolute h-100">

                    <img class="mt-1" width="40px" height="40px" src="png/hamfekr1.png" alt="hamfekr-logo">
                </div>
            </div>
            <div class="shadow-btn  w-100 position-absolute"></div>
        </section>
    </div>
    <!-- Add Bootstrap js  -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src=" js/bootstrap.bundle.min.js"></script>
    <script src=" js/bootstrap.min.js "></script>
    <!-- END Bootstrap js  -->

    <script src="js/jquery-migrate-3.3.0.js"></script>
    <!-- for transition from older versions of jQuery -->

    <!-- Add slick carousel js  -->
    <script src="js/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- END slick carousel js  -->

    <!-- Add header-on-scroll-min.js  -->
    <script src="js/header-on-scroll-min.js"></script>
    <!-- END header-on-scroll-min.js  -->

    <!-- Add  easy - loading.min.JS plugin -->
    <script src="js/easy-loading.min.js"></script>
    <!-- END  easy - loading.min.JS plugin -->

    <!-- Add  paceloader.js plugin -->
    <script src="js/paceloader.js"></script>
    <!-- END  paceloader.js plugin -->

    <!-- Add  simpleLoadMore.js plugin -->
    <script src="js/jquery.simpleLoadMore.min.js"></script>
    <!-- END  simpleLoadMore.JS plugin -->

    <!-- Add jquery.fittext.js plugin -->
    <script src="js/jquery.fittext.js"></script>
    <!-- END jquery.fittext.js plugin -->

    <!-- Add custom.js  -->
    <script src="js/custom-hamsoo.js"></script>
    <!-- END custom.js  -->

</body>

</html>
